<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Notícias</title>
		</head>
	<body>

		<h1>Notícias</h1>
		<table>
			<tr>
				<td>ID</td>
				<td>Title</td>
				<td>Content New</td>
			</tr>
			<tbody>
				<% for(let i=0; i < news.length; i++) {%>
				<tr>
					<td><%= news[i].id_news %></td>
					<td><%= news[i].title %></td>
					<td><%= news[i].new_content %></td>
				</tr>
				<%}%>
			</tbody>
		</table>

	</body>
</html>